[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "etl"]
	path = etl
	url = https://github.com/beanumber/etl
[submodule "macleish"]
	path = macleish
	url = https://github.com/beanumber/macleish
[submodule "teamcolors"]
	path = teamcolors
	url = https://github.com/beanumber/teamcolors
